<html>

  <head>
    <meta charset="utf-8">
    <title>Variation</title>
  </head>

  <body>
    <h1>Variations</h1>
    <table>
      <tr>
        <th>Kind</th>
        <th>Book</th>
        <th colspan="3"></th>
      </tr>
      {% for variation in variations %}
      <tr>
        <td>{{variation.kind}}</td>
        <td>{{variation.book.id}}</td>
        <td><a href="{% url 'variations:detail' variation.id %}">Detail</a></td>
        <td><a href="{% url 'variations:edit' variation.id %}">Edit</a></td>
        <td><a href="{% url 'variations:delete' variation.id %}">Delete</a></td>
      </tr>
      {% endfor %}
    </table>

    <br>

    <a href="{% url 'variations:create' %}">New Variation</a>
  </body>

</html>
